<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbxjl.hotel.manager.mapper.RoomMapper">
  <resultMap id="BaseResultMap" type="com.cbxjl.hotel.manager.core.entity.Room">
    <!--@mbg.generated-->
    <!--@Table room-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="area" jdbcType="INTEGER" property="area" />
    <result column="bed_type" jdbcType="BOOLEAN" property="bedType" />
    <result column="bed_number" jdbcType="INTEGER" property="bedNumber" />
    <result column="guest_number" jdbcType="INTEGER" property="guestNumber" />
    <result column="img" jdbcType="LONGVARCHAR" property="img" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="installation" jdbcType="VARCHAR" property="installation" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `type`, price, `number`, area, bed_type, bed_number, guest_number, img, `status`, 
    create_time, create_by, update_time, update_by, installation, `describe`
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update room
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="`type` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.type,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.price,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="`number` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.number,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="area = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.area,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="bed_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.bedType,jdbcType=BOOLEAN}
        </foreach>
      </trim>
      <trim prefix="bed_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.bedNumber,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="guest_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.guestNumber,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="img = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.img,jdbcType=LONGVARCHAR}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=BOOLEAN}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="create_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createBy,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="update_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updateBy,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="installation = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.installation,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`describe` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.describe,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into room
    (id, `type`, price, `number`, area, bed_type, bed_number, guest_number, img, `status`, 
      create_time, create_by, update_time, update_by, installation, `describe`)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.type,jdbcType=TINYINT}, #{item.price,jdbcType=DECIMAL}, 
        #{item.number,jdbcType=VARCHAR}, #{item.area,jdbcType=INTEGER}, #{item.bedType,jdbcType=BOOLEAN}, 
        #{item.bedNumber,jdbcType=INTEGER}, #{item.guestNumber,jdbcType=INTEGER}, #{item.img,jdbcType=LONGVARCHAR}, 
        #{item.status,jdbcType=BOOLEAN}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.createBy,jdbcType=VARCHAR}, 
        #{item.updateTime,jdbcType=TIMESTAMP}, #{item.updateBy,jdbcType=VARCHAR}, #{item.installation,jdbcType=VARCHAR}, 
        #{item.describe,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <select id="getFloor" resultType="java.lang.String">
      SELECT DISTINCT SUBSTRING_INDEX(number, '-', 1) AS floor
      FROM room
      ORDER BY floor ASC;
  </select>
</mapper>